// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap");
body {
  max-width: 360px;
}
header {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}
img {
  border-radius: 8px 8px 0px 0px;
  max-width: 328px;
  max-height: 120px;
}
h1 {
  //styleName: heading/base/regular;
  margin-left: 16px;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #303036;
  margin-left: 16px;
}
h3 {
  margin-left: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
p {
  margin-left: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #303036;
}

span {
  margin-left: 16px;
  font-family: Inter;
  color: #7a7a7a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.commenth2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #303036;
  margin-left: 16px;
} 
.button_search a
{
  text-decoration: none !important;
  color: #303036;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: center;
}
.button_search {
  cursor: pointer;
  border: none;
  display: inline-block;
  background: #f2f2f2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  position: static;
  width: 76px;
  height: 28px;
  left: 88px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
}
.button_new_category a {
  text-decoration: none !important;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.button_new_category {
  margin-left: 16px;
  margin-bottom: 22px;
  margin-top: 16px;
  cursor: auto;
  border: none;
  display: inline-block;
  width: 130px;
  height: 28px;
  background: #757575;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.cards {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  position: static;
  width: 328px;
  padding: 0px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.card2 {
  position: relative;
}
.button_edit_and_delete {
  position: relative;
  left: 248px;
  display: flex;
  justify-content: right;
}
.categories-list {
  margin-left: 16px;
}
.order_comments {
  display: flex;
  flex-direction: column-reverse;
}
.ajuste_ctg h3,
span,
p {
  margin: 0 16px;
}

.photo img {
  border-radius: 8px 8px 0px 0px;
  max-width: 328px;
  max-height: 220px;
}

.h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #303036;
}
.desc_photo {
  display: flex;
  flex-direction: column;
}
.photo {
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: static;
  width: 328px;
  padding: 0px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.form-label {
  font-family: Inter;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #303036;
  margin-top: 16px;
}
