// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comments_style
{
  border-top: 4px solid #D3D3D3;
  max-width: 328px;
}
.time_and_delete
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
}
.button_c
{
  height: 36px;
  width: 328px;
  left: 0px;
  top: 96px;
  border-radius: 4px;
  padding: 8px, 16px, 8px, 16px;
  
}
.form-control
{
  height: 88px;
  width: 328px;
  border-radius: 6px;
  padding: 8px, 12px, 8px, 12px;
  margin-left: 16px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  outline: none;
}
::placeholder{
  padding-left: 12px;
  padding-top: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.button_comment
{
  margin-left: 16px;
  cursor: pointer;
  border: none;
  display: inline-block;
  background: #757575;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  position: static;
  width: 328px;
  height: 36px;
  left: 0px;
  top: 386px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
}
input[type=submit]{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
